.presentacion {
    height: 92vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 100, 0.5)), url(../../assets/imagenes/83-838155_technology-background.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont-presentacion {
    display: flex;
    align-items: center;
}

.cont-img-perfil {
    border-radius: 50%;
    overflow: hidden;
    width: 20rem;
    height: 20rem;
}

.img-perfil {
    width: 100%;
    height: 100%;
}

.cont-info {
    font-size: 2rem;
    margin-left: 1rem;
    background-color: #02020226;
    padding: 1rem;
    border-radius: 10px;
}

.cont-iconos {
    display: inline-flex;
    margin: 0 1rem;
}

.cont-proyectos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-proyectos, .titulo-contacto {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.proyectos {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    margin-top: 2rem;
}

.proyecto {
    transition: box-shadow 0.5s ease;
}

.proyecto:hover {
    box-shadow: 0 0 0 3px #0d0d0df5;
}
.cont-img {
    width: 100%;
    height: 15rem;
}
.proyecto-img {
    width: 100%;
    height: 100%;
}

.proyecto h1 {
    padding: 0 1rem;
    text-align: center;
}

.cont-link {
    text-align: center;
}

.cont-link a {
    padding: 0.5rem;
    display: inline-block;
    font-size: 1.2rem;
}

.titulo-proyectos, .link, .proyecto, .titulo-contacto  {
    background-color: #161616;
    color: white;
}

a:hover {
    color: #007bff;
}

.cont-contacto {
    height: 1000px;
}

.contenido-contacto {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contacto {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #16161625;
    border-radius: 20px;
    margin: 5rem 0;
}

#contacto div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#contacto div label {
    margin: 0.5rem 0;
}

#contacto div input {
    height: 2rem;
    border: none;
    padding: 0 8px;
}

#contacto div label {
    font-size: 1.2rem;
}

#contacto div input[type="submit"] {
    height: 1.8rem;
    width: 25%;
    height: 2.4rem;
    background-color: #161616;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 5px;
}

textarea {
    border: none;
    padding: 8px;
}

.alerta {
    text-align: center;
    margin-bottom: 5rem;
}

.alerta h3 {
    font-size: 2rem;
}

.img {
    width: 5.8rem;
    height: 5rem;
}

.cont-conocimientos {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.contenido-conocimientos {
    margin-top: 1rem;
    display: grid;
    grid-template-areas: "div1 div2"
    "div1 div3";
    gap: 0 2rem;
    height: 70%;
    width: 900px;
}

.div1 div, .div2 div, .div3 div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    height: 95%;
}

/* .div2 div, .div3 div {
    height: 91%;
} */

.div1 {
    grid-area: div1;
    height: 100%;
}

.div2 {
    grid-area: div2;
    height: 95%;
}

.div3  {
    grid-area: div3;
}

.div2 div, .div3 div {
    height: 88%;
}

.div2 h3, .div3 h3 {
    height: 12%!important;
}

.titulo-conocimientos {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.titulo-conocimientos h3 {
    margin-bottom: 1rem;
}

.tarjeta-conocimientos {
    border: 2px solid #161616;
    text-align: center;
}

.tarjeta-conocimientos h3 {
    background-color: #161616;
    color: white;
    padding-top: 5px;
    height: 5%;
}

@media (max-width: 600px) {
    .presentacion {
        height: 100vh;
    }
    .cont-presentacion {
        flex-direction: column;
    }

    /* conocimientos */
    .cont-conocimientos {
        height: 100%;
        margin-bottom: 5rem;
    }
    .contenido-conocimientos {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .cont-conocimientos, .titulo-conocimientos, .contenido-conocimientos {
        margin: 0;
    }
    .titulo-conocimientos {
        padding-top: 1rem;
    }
    .tarjeta-conocimientos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        height: 100%;
    }
    .tarjeta-conocimientos div {
        height: 100%;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin: 1rem;
    }
    .tarjeta-conocimientos h3 {
        width: 100%;
        padding-top: 0px;
        height: auto; 
    }
    .img {
        margin: 0.5rem;
    }

    /* proyectos */
    .cont-proyectos {
        justify-content:unset;
        height: auto;
        margin-bottom: 1.5rem;
    }
    .proyectos {
        margin-top: unset;
        display: flex;
        flex-direction: column;
    }
    .proyecto {
        margin: 0 1rem;
    }

    /* Contacto */
    #contacto {
        /* margin: 0; */
        width: 90%;
    }
    .cont-contacto {
        height: 50%;
    }
    .contenido-contacto {
        width: auto;
    }

    /* varios */
    .titulo-conocimientos, .titulo-proyectos, .titulo-certificaciones, .titulo-contacto {
        font-size: 2.5rem!important;    
    }
}